@import "~bootstrap";

.container-search-result {
  display: none;
  width: 100%;
  height: auto;
  max-height: 250px;
  z-index: 1;
  background: #d2c1c1;
  padding: 0;
  overflow-y: scroll;

  &.show {
    display: block;
  }

  li {
    cursor: pointer;

    &:hover {
      background: #F3F0F0;
    }
  }
}

.fz-10 {
  font-size: 10px;
}

.fz-15 {
  font-size: 15px;
}

.fz-24 {
  font-size: 24px;
}

.fz-32 {
  font-size: 32px;
}

.current-date {
  bottom: 10px;
  right: 30px;
}

.container-search-saved {
  max-height: 30px;
  overflow: hidden;

  .item-search-saved {
    cursor: pointer;

    &:hover {
      color: red !important;

    }
  }
}
